        <div class="card">
          <h2 class="card-header  text-left">Discrete Parameter</h2>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Value</th>
                  <th>Interpretation</th>
                  <th>Default Value (Day)</th>
                  <th>Default Value (Night)</th>
                  <th *ngFor="let camera of configData.cameras">{{camera.name}}</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let discreteParameter of currentParameter.discrete; let i = index;">
                  <td>
                    <div class="form-group">
                      <input class="form-control" type="number" [(ngModel)]="discreteParameter.value"
                        style="min-width: 80px;">
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input class="form-control" type="text" [(ngModel)]="discreteParameter.interpretation"
                        style="min-width: 80px;">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="radio"
                        [name]="'defaultRadioDay' + currentParameter.unique_id" [value]="i"
                        [checked]="discreteParameter.value === currentParameter.presetValueDay"
                        (change)="onDefaultDiscreteValueChangeDay(discreteParameter.value, currentParameter)">
                    </div>
                  </td>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="radio"
                        [name]="'defaultRadioNight' + currentParameter.unique_id" [value]="i"
                        [checked]="discreteParameter.value === currentParameter.presetValueNight"
                        (change)="onDefaultDiscreteValueChangeNight(discreteParameter.value, currentParameter)">
                    </div>
                  </td>
                  <td *ngFor="let camera of configData.cameras">
                    <button
                      [ngClass]="{'btn-primary': (discreteParameter.value === getCameraState(camera, currentParameter)), 'btn-secondary': (discreteParameter.value !== getCameraState(camera, currentParameter)) }"
                      class="btn m-1" (click)="onDiscreteValueSelect(camera, currentParameter, discreteParameter)">
                      Test {{discreteParameter.interpretation}}/{{discreteParameter.value}}
                    </button>
                    <div class="form-check">
                      <label for="'camera-' + camera.id" class="form-check-label"
                        [for]="'camera-' + camera.id">invisible</label>
                      <input class="form-check-input" type="checkbox" [id]="'camera-' + camera.id"
                        [checked]="isCurrentDiscreteValueShown(camera, discreteParameter)"
                        (change)="onShowCurrentDiscreteValueChange(camera,  discreteParameter)">
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger"
                      (click)="onDeleteDiscreteValue(currentParameter, i)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="addDiscreteValue(currentParameter)">Add Discrete
                Value</button>
            </div>

          </div>
        </div>
