<!doctype html>
<html lang="en">
  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <ng-container *ngFor='let group of groupsData'>
            <ng-container *ngIf="shouldDisplayGroup(group)">
              <ng-container *ngIf="group.id == currentGroup">
                <ng-container *ngIf="group.id == currentGroup"></ng-container>
                <a href="#" class="list-group-item list-group-item-action py-2 active" (click)="changecurrentGroup(group.id)" aria-current="true">
                  <span>{{group.name}}</span>
                </a>
                <ng-container *ngFor='let parameter of group.parameters'>
                  <ng-container *ngIf="configMode">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="hideParam{{parameter.id}}" [checked]="parameter.visible" (change)="toggleParameterVisibility(parameter)">
                      <a href="#"  (click)="changeCurrentParameter(parameter)">
                        <label class="form-check-label">{{parameter.parameter}}</label>
                      </a>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!configMode">
                    <ng-container *ngIf="parameter == currentParameter && parameter.visible">
                      <a href="#" class="list-group-item list-group-item-action py-2 ripple active" (click)="changeCurrentParameter(parameter)" aria-current="true" >
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>{{parameter.parameter}}</span>
                      </a>
                    </ng-container>
                    <ng-container *ngIf="parameter != currentParameter  && parameter.visible">
                      <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="changeCurrentParameter(parameter)" aria-current="true"  style="background-color:rgb(0 0 0 / 5%)">  
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>{{parameter.parameter}}</span>
                      </a>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="group.id != currentGroup">
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="changecurrentGroup(group.id)" aria-current="true">
                  <span>{{group.name}}</span>
                </a>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div *ngIf="configData" class="container-fluid">
        <!-- Search form -->
        <ul class="nav nav-tabs">
          <ng-container *ngFor='let camera of configData.cameras'>
            <li  *ngIf="currentCamera == camera.id" class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <ng-container *ngIf="!configMode; else editMode">
                  Kamera {{camera.id}}<br>{{camera.name}}
                </ng-container>
                <ng-template #editMode>
                  <input [(ngModel)]="camera.name">
                </ng-template>
              </a>
            </li>
            <li  *ngIf="currentCamera != camera.id" class="nav-item">
              <a class="nav-link" aria-current="page" href="#"  (click)="changeCurrentCamera(camera.id)">
                Kamera {{camera.id}}<br>{{camera.name}}
              </a>
            </li>
          </ng-container>
    
          <li class="nav-item ml-auto">
            ConfigMode<br>
            <mat-slide-toggle [(ngModel)]="configMode" (change)="onChangeConfigMode($event)">
            </mat-slide-toggle>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 85px;">
    <div class="container">
      <div  class="card" style="width: 40rem;"*ngIf="currentParameter">
      <h2 class="card-header  text-left">{{currentParameter.parameter}}</h2>
        <div class="card-body">
          <div *ngIf="param_is_single(currentParameter)">
            <label class="label" *ngIf="currentParameter.interpretation">
              Interpretation: {{currentParameter.interpretation}}
            </label>
            <div  *ngIf="param_is_void(currentParameter)">
              <button  type="button" (click)="onSend(currentParameter)" class="btn btn-primary" >Send</button>
            </div>
            <div *ngIf="param_is_input(currentParameter)">
              <input type="text" class="form-control" [value]=currentParameter.value>
              <button type="button" (click)="onSend(currentParameter)" class="btn btn-primary">Send</button>
            </div>
            <div  *ngIf="param_is_slider(currentParameter)">
              <mat-slider [min]=currentParameter.minimum [max]=currentParameter.maximum [step]=calculateCurrentSteps(currentParameter.minimum,currentParameter.maximum)  discrete >
                <input matSliderThumb [(ngModel)]="currentParameter.value">
              </mat-slider>
              <button  type="button" (click)="onSend(currentParameter)" class="btn btn-primary" [disabled]="!is_valid_parameter(currentParameter)">Send</button>
            </div>
            <div  *ngIf="param_is_switch(currentParameter)">
              <mat-slide-toggle
                (change)="onChange($event)">
              </mat-slide-toggle>
            </div>
            <div  *ngIf="param_is_radiogroup(currentParameter)">
              <mat-radio-group
                aria-labelledby="radio-group-label"
                class="radio-group"
                [(ngModel)]="discreteParameterChoosen">
                <mat-radio-button (change)="onChange_radioGroup($event)" class="radio-button" *ngFor="let value of currentParameter.discrete" [value]="value.value">
                  {{value.interpretation}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="!param_is_single(currentParameter)">
            <ul class="list-group list-group-flush">
              <div *ngFor="let i of currentParameter.index">
                <li class="list-group-item">
                  <h3 >{{i.name}}</h3>
                  <label class="label" *ngIf="i.interpretation">
                    Interpretation: {{i.interpretation}}
                  </label>
                  <div *ngIf="index_is_input(i)">
                    <input type="text" class="form-control">
                  </div>
                  <div *ngIf="index_is_slider(i)">
                      <mat-slider [min]=i.minimum [max]=i.maximum [step]=calculateCurrentSteps(i.minimum,i.maximum) value="1" showTickMarks discrete>
                        <input matSliderThumb >
                      </mat-slider>
                  </div>
                  <div  *ngIf="index_is_radiogroup(i)">
                    <mat-radio-group
                    aria-labelledby="radio-group-label"
                    class="radio-group">
                      <mat-radio-button class="radio-button" *ngFor="let discreteParam of i.discrete" [value]="discreteParam">
                        {{discreteParam.interpretation}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--Main layout-->
</html>


<router-outlet></router-outlet>
  