<!doctype html>
<html lang="en">
  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <ng-container *ngIf="configMode">
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <ng-container *ngFor='let group of groupsData'>
              <ng-container *ngIf="shouldDisplayGroup(group)">
                <ng-container *ngIf="group.id == currentGroup">
                  <ng-container *ngIf="group.id == currentGroup"></ng-container>
                  <a href="#" class="list-group-item list-group-item-action py-2 active" (click)="changecurrentGroup(group.id)" aria-current="true">
                    <span>{{group.name}}</span>
                  </a>
                  <ng-container *ngFor='let parameter of group.parameters'>
                    <ng-container *ngIf="configMode">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="hideParam{{parameter.id}}" [checked]="parameter.visible" (change)="toggleParameterVisibility(parameter)">
                        <a href="#"  (click)="changeCurrentParameter(parameter)">
                          <label class="form-check-label">{{parameter.parameter}}</label>
                        </a>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!configMode">
                      <ng-container *ngIf="parameter == currentParameter && parameter.visible">
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple active" (click)="changeCurrentParameter(parameter)" aria-current="true" >
                          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>{{parameter.parameter}}</span>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="parameter != currentParameter  && parameter.visible">
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="changeCurrentParameter(parameter)" aria-current="true"  style="background-color:rgb(0 0 0 / 5%)">  
                          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>{{parameter.parameter}}</span>
                        </a>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="group.id != currentGroup">
                  <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="changecurrentGroup(group.id)" aria-current="true">
                    <span>{{group.name}}</span>
                  </a>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </nav>
    </ng-container>
    <!-- Sidebar -->
    <!-- Navbar -->
    <app-navbar (presentationModeChange)="onPresentationModeChange($event)" (configModeChange)="configMode = $event" [configData]="configData"   [groupsData]="groupsData" [protocolService]="protocolService" [configService]="configService"></app-navbar>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 85px;">
    <div class="container-fluid">
      <ng-container *ngIf="configMode" >
        <app-parameter-settings [currentParameter]="currentParameter"  [configData]="configData" [cameraStates]="cameraStates"></app-parameter-settings>
      </ng-container>
      
      <ng-container *ngIf="!configMode">
        <app-controlpanel [groupsData]="groupsData" [currentPresentationMode]="currentPresentationMode" [configData]="configData" [cameraStates]="cameraStates" [currentParameter]="currentParameter"></app-controlpanel>
      </ng-container>
    </div>
  </main>
  <!--Main layout-->
</html>


<router-outlet></router-outlet>
  