<!doctype html>
<html lang="en">
  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <ng-container *ngIf="configMode">
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <ng-container *ngFor='let group of groupsData'>
              <ng-container *ngIf="shouldDisplayGroup(group)">
                <ng-container *ngIf="group.id == currentGroup">
                  <ng-container *ngIf="group.id == currentGroup"></ng-container>
                  <a href="#" class="list-group-item list-group-item-action py-2 active" (click)="changecurrentGroup(group.id)" aria-current="true">
                    <span>{{group.name}}</span>
                  </a>
                  <ng-container *ngFor='let parameter of group.parameters'>
                    <ng-container *ngIf="configMode">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="hideParam{{parameter.id}}" [checked]="parameter.visible" (change)="toggleParameterVisibility(parameter)">
                        <a href="#"  (click)="changeCurrentParameter(parameter)">
                          <label class="form-check-label">{{parameter.parameter}}</label>
                        </a>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!configMode">
                      <ng-container *ngIf="parameter == currentParameter && parameter.visible">
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple active" (click)="changeCurrentParameter(parameter)" aria-current="true" >
                          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>{{parameter.parameter}}</span>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="parameter != currentParameter  && parameter.visible">
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="changeCurrentParameter(parameter)" aria-current="true"  style="background-color:rgb(0 0 0 / 5%)">  
                          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>{{parameter.parameter}}</span>
                        </a>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="group.id != currentGroup">
                  <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="changecurrentGroup(group.id)" aria-current="true">
                    <span>{{group.name}}</span>
                  </a>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </nav>
    </ng-container>
    <!-- Sidebar -->
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div *ngIf="configData" class="container-fluid">
        <!-- Search form -->
        <ul class="nav nav-tabs ms-auto">
          <div class="presentation-modes">
            <button type="button" class="btn btn-primary" [class.active]="currentPresentationMode === 'basic'" (click)="currentPresentationMode = 'basic'">Basic</button>
            <button type="button" class="btn btn-primary" [class.active]="currentPresentationMode === 'advanced'" (click)="currentPresentationMode = 'advanced'">Advanced</button>
          </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-gear"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li class="dropdown-item">
                <mat-slide-toggle [(ngModel)]="configMode" (change)="onChangeConfigMode($event)">
                  ConfigMode
                </mat-slide-toggle>
              </li>
              <li class="dropdown-item">
                <a class="nav-link" routerLink="/camera-settings">
                  Camera Settings
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 85px;">
    <div class="container-fluid">
      <ng-container *ngIf="configMode" >
        <div style="padding-left: 280px;">
          <div class="card" *ngIf="currentParameter">
            <h2 class="card-header  text-left">{{currentParameter.parameter}}</h2>
            <div class="card-body">
              <div class="card">
                <h2 class="card-header  text-left">General Settings</h2>
                <div class="card-body">
                  <label class="label" *ngIf="currentParameter.interpretation">
                    Interpretation: {{currentParameter.interpretation}}
                  </label>
                  <div class="form-group">
                    <label for="caption">Caption:</label>
                    <input id="caption" class="form-control" type="text" [(ngModel)]="currentParameter.caption" (change)="onCaptionChange($event)">
                  </div>
                
                  <div class="form-group">
                    <label for="presentationMode">Presentation Mode:</label>
                    <select id="presentationMode" class="form-control" [(ngModel)]="currentParameter.presentationMode" (change)="setPresentationMode($event)">
                      <option value="basic">Basic</option>
                      <option value="advanced">Advanced</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="cameraSpecific">Camera Specific:</label>
                    <select id="cameraSpecific" class="form-control" [(ngModel)]="currentParameter.cameraSpecific">
                      <option [value]="true">Yes</option>
                      <option [value]="false">No</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="row">Row:</label>
                    <input id="row" class="form-control" type="number" [(ngModel)]="currentParameter.row" (change)="onRowChange($event)">
                  </div>
                  <div class="form-group">
                    <label for="col">Col:</label>
                    <input id="col" class="form-control" type="number" [(ngModel)]="currentParameter.col" (change)="onColChange($event)">
                  </div>
                  <div *ngIf="isDiscreteParameter(currentParameter)" class="form-group">
                    <label for="presetActive">Preset Active</label>
                    <select id="presetActive" class="form-control" [(ngModel)]="currentParameter.presetActive">
                      <option [value]="true">Yes</option>
                      <option [value]="false">No</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="isDiscreteParameter(currentParameter)">
                <h2 class="card-header  text-left">Discrete Parameter</h2>
                <div class="card-body">
                  <div *ngIf="isDiscreteParameter(currentParameter)">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Value</th>
                          <th>Interpretation</th>
                          <th>Default Value (Day)</th>
                          <th>Default Value (Night)</th>
                          <th *ngFor="let camera of configData.cameras">{{camera.name}}</th>
      
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let discreteParameter of currentParameter.discrete; let i = index;">
                          <td>
                            <div class="form-group">
                              <input class="form-control" type="number" [(ngModel)]="discreteParameter.value" style="min-width: 80px;">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input class="form-control" type="text" [(ngModel)]="discreteParameter.interpretation" style="min-width: 80px;">
                            </div>
                          </td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" [name]="'defaultRadioDay' + currentParameter.unique_id" [value]="i"
                                [checked]="discreteParameter.value === currentParameter.presetValueDay" (change)="onDefaultDiscreteValueChangeDay(discreteParameter.value, currentParameter)">
                            </div>
                          </td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" [name]="'defaultRadioNight' + currentParameter.unique_id" [value]="i"
                                [checked]="discreteParameter.value === currentParameter.presetValueNight" (change)="onDefaultDiscreteValueChangeNight(discreteParameter.value, currentParameter)">
                            </div>
                          </td>
                          <td *ngFor="let camera of configData.cameras">

                                <button
                                  [ngClass]="{'btn-primary': (discreteParameter.value === getCameraState(camera, currentParameter)), 'btn-secondary': (discreteParameter.value !== getCameraState(camera, currentParameter)) }"

                                          class="btn m-1"
                                          (click)="onDiscreteValueSelect(camera, currentParameter, discreteParameter)">
                                    Test {{discreteParameter.interpretation}}/{{discreteParameter.value}}
                              </button>
                              <div class="form-check">
                                <label for="'camera-' + camera.id" class="form-check-label" [for]="'camera-' + camera.id">invisible</label>
                                <input class="form-check-input" type="checkbox" [id]="'camera-' + camera.id" [checked]="isCurrentDiscreteValueShown(camera, discreteParameter)"
                                (change)="onShowCurrentDiscreteValueChange(camera,  discreteParameter)">
                              </div>
                          </td>
                          <td>
                            <button type="button" class="btn btn-danger" (click)="onDeleteDiscreteValue(currentParameter, i)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" (click)="addDiscreteValue(currentParameter)">Add Discrete Value</button>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!configMode">
        <div class="row">
          <div class="col-md-12">
            <!-- Grouping of buttons for all cameras -->
            <div *ngIf="getParemetersbyRows('false').length > 0">
                <div  class="parameter-grid-row" *ngFor="let row of getParemetersbyRows('false') | groupBy:'row'">
                  <div class="parameter-grid-item" *ngFor="let parameter of row.value" [style.gridColumn]="parameter.col">
                    <div *ngIf="param_is_void(parameter)">
                      <button type="button" (click)="onSendAllCameras(parameter)" class="btn btn-primary">{{parameter.caption}}</button>
                    </div>
                    <ng-container *ngIf="param_is_radiogroup(parameter)">
                      <div class="card">
                        <h2 class="card-header text-left">{{parameter.caption}}</h2>
                        <div class="card-body">
                          <div class="btn-group" role="group">
                            <button *ngFor="let value of parameter.discrete"
                                    [ngClass]="{'btn-primary': value.value === parameter.selectedValue, 'btn-secondary': value.value !== parameter.selectedValue}"
                                    class="btn"
                                    (click)="onDiscreteValueSelectAllCameras(parameter, value)"
                                  >
                              {{ value.interpretation }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <ng-container *ngFor="let camera of configData.cameras" >
            <div class="col-md-3">
              <div *ngIf="camera" class="card">
                <div class="card-header">
                  <h5>{{ camera.name }}</h5>
                </div>
                <div class="card-body">
                  <div class="card">
                    <h2 class="card-header text-left">
                        Preset
                      </h2>
                      <div class="card-body" style="display: flex; flex-wrap: wrap;">
                        <button (click)="onSendPresetDay(camera)" class="btn m-1"  [ngClass]="{'btn-primary-large': isPresetDay(camera), 'btn-secondary-large': !isPresetDay(camera) }">Tag</button>
                        <button (click)="onSendPresetNight(camera)" class="btn m-1" [ngClass]="{'btn-primary-large': isPresetNight(camera), 'btn-secondary-large': !isPresetNight(camera) }">Nacht</button>
                      </div>
                  </div>
                  <div class="card">
                    <h2 class="card-header text-left">
                        General
                      </h2>
                      <div class="card-body" style="display: flex; flex-wrap: wrap;">
                        <button *ngFor="let parameter of getVoidParameters()" class="btn m-1 btn-secondary-large"
                                (click)="onSend(camera,parameter)">
                          {{ parameter.caption }}
                        </button>
                      </div>
                  </div>
                  <div class="parameter-grid-row" *ngFor="let row of getParemetersbyRows('true') | groupBy:'row'">
                    <div class="parameter-grid-item" *ngFor="let parameter of row.value" [style.gridColumn]="parameter.col">
                      <ng-container *ngIf="param_is_single(parameter)">
                       
                        <div *ngIf="param_is_input(parameter)">
                          <div class="form-group">
                            <label for="presetValue">Preset Value:</label>
                            <input id="presetValue" type="text" class="form-control" formControlName="presetValue">
                          </div>
                          <button type="button" (click)="onSend(camera,parameter)" class="btn btn-primary">Send</button>
                        </div>
                        <div *ngIf="param_is_slider(parameter)">
                          <mat-slider [min]=parameter.minimum [max]=parameter.maximum [step]=calculateCurrentSteps(parameter.minimum,parameter.maximum) discrete>
                            <input matSliderThumb [(ngModel)]="parameter.value">
                          </mat-slider>
                          <button type="button" (click)="onSend(camera, parameter)" class="btn btn-primary" [disabled]="!is_valid_parameter(parameter)">Send</button>
                        </div>
                        <div *ngIf="param_is_switch(parameter)">
                          <mat-slide-toggle (change)="onChange(camera, $event)">
                          </mat-slide-toggle>
                        </div>
                        <ng-container *ngIf="param_is_radiogroup(parameter)">
                          <div class="card" style="display: flex;">
                            <div >
                            <h2 class="card-header text-left">
                              {{parameter.caption}}</h2>
                              <div class="card-body" style="display: flex; flex-wrap: wrap;" >
                                <div *ngFor="let discreteParameter of parameter.discrete">

                                <div *ngIf="!isCurrentDiscreteValueShown(camera, discreteParameter)">
                                  <button [ngClass]="{'btn-primary': (discreteParameter.value === getCameraState(camera, parameter)), 'btn-secondary': (discreteParameter.value !== getCameraState(camera, parameter)) }"
                                          class="btn m-1"
                                          (click)="onDiscreteValueSelect(camera, parameter, discreteParameter)">
                                    {{ discreteParameter.interpretation }}
                                  </button>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!param_is_single(parameter)">
                        <ul class="list-group list-group-flush">
                          <div *ngFor="let i of currentParameter.index">
                            <li class="list-group-item">
                              <h3 >{{i.name}}</h3>
                              <label class="label" *ngIf="i.interpretation">
                              Interpretation: {{i.interpretation}}
                              </label>
                              <div  *ngIf="index_is_radiogroup(i)">
                                <mat-radio-group
                                aria-labelledby="radio-group-label"
                                class="radio-group">
                                  <mat-radio-button class="radio-button" *ngFor="let discreteParam of i.discrete" [value]="discreteParam">
                                    {{discreteParam.interpretation}}
                                  </mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </li>
                          </div>
                        </ul>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ng-container>
        </div>
      </ng-container>
    </div>
  </main>
  <!--Main layout-->
</html>


<router-outlet></router-outlet>
  