# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
backend/__pycache__/main.cpython-310.pyc
backend/controller/__pycache__/configurationController.cpython-310.pyc
backend/controller/__pycache__/protokolController.cpython-310.pyc
backend/controller/__pycache__/serialController.cpython-310.pyc
backend/models/__pycache__/camera.cpython-310.pyc
backend/models/__pycache__/command_tally.cpython-310.pyc
backend/models/__pycache__/command_value.cpython-310.pyc
backend/models/__pycache__/command_values.cpython-310.pyc
backend/models/__pycache__/connection.cpython-310.pyc
backend/models/__pycache__/connectionresult.cpython-310.pyc
backend/res/PROTOCOL.json
frontend/angular.json
frontend/src/app/environments/environment.ts
