<mat-dialog-content>
  <mat-tab-group>
    <mat-tab *ngFor="let service of services">
      <ng-template mat-tab-label>
        {{ service.name }}
        <button mat-icon-button (click)="refreshLogs(service)">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="restartService(service)">
          <mat-icon>restart_alt</mat-icon>
        </button>
        <span class="status-indicator" [ngClass]="{'online': service.status === 'active', 'offline': service.status !== 'active'}"></span>
      </ng-template>
      <pre>{{ service.logData }}</pre>
    </mat-tab>
  </mat-tab-group>
  <p class="refresh-countdown">Next refresh in {{ refreshCountdown }} seconds</p>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
  <button mat-button class="btn btn-success" mat-dialog-close>Close</button>
</mat-dialog-actions>
