<div style="padding-left: 280px;">
  <div class="card" *ngIf="currentParameter">
    <h2 class="card-header  text-left">{{currentParameter.parameter}}</h2>
    <div class="card-body">
      <div class="card">
        <h2 class="card-header  text-left">General Settings</h2>
        <div class="card-body">
          <div>
            <label class="label" *ngIf="currentParameter.interpretation">
              Interpretation: {{currentParameter.interpretation}}
            </label>
          </div>
          <div>
            <label class="label" *ngIf="currentParameter.interpretation">
              dataType: {{currentParameter.dataType}}
            </label>
          </div>
          <div>
            <label class="label" *ngIf="currentParameter.type">
              Type: {{currentParameter.type}}
            </label>
          </div>
          <div class="form-group">
            <label for="caption">Caption:</label>
            <input id="caption" class="form-control" type="text" [(ngModel)]="currentParameter.caption"
              (change)="onCaptionChange($event)">
          </div>

          <div class="form-group">
            <label for="presentationMode">Presentation Mode:</label>
            <select id="presentationMode" class="form-control" [(ngModel)]="currentParameter.presentationMode"
              (change)="setPresentationMode($event)">
              <option value="basic">Basic</option>
              <option value="advanced">Advanced</option>
            </select>
          </div>
          <div class="form-group">
            <label for="cameraSpecific">Camera Specific:</label>
            <select id="cameraSpecific" class="form-control" [(ngModel)]="currentParameter.cameraSpecific">
              <option [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="row">Row:</label>
            <input id="row" class="form-control" type="number" [(ngModel)]="currentParameter.row"
              (change)="onRowChange($event)">
          </div>
          <div *ngIf="isPossibleDiscreteParameter(currentParameter)" class="form-group">
            <label for="presetActive">Preset Active</label>
            <select id="presetActive" class="form-control" [(ngModel)]="currentParameter.presetActive">
              <option [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
          </div>
          <label for="control-options-dropdown">Control Options:</label>
          <select class="form-control" id="control-options-dropdown"
            [(ngModel)]="currentParameter.controlOptionDecision" (ngModelChange)="onControlOptionsChanged($event)">
            <option *ngFor="let option of currentParameter.controlOptions" [value]="option">
              {{ option }}
            </option>
          </select>

        </div>
      </div>
      <ng-container *ngIf="isPossibleDiscreteParameter(currentParameter)">
        <app-discrete-parameter [currentParameter]="currentParameter" [configData]="configData"
          [cameraStates]="cameraStates">
        </app-discrete-parameter>
      </ng-container>
    </div>
  </div>
</div>