<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <ul class="nav nav-tabs ms-auto">
      <div class="presentation-modes">
        <button type="button" class="btn btn-primary" [class.active]="currentPresentationMode === 'basic'"
          (click)="onChangePresentationMode('basic')">Basic</button>
        <button type="button" class="btn btn-primary" [class.active]="currentPresentationMode === 'advanced'"
          (click)="onChangePresentationMode('advanced')">Advanced</button>
      </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-gear"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li class="dropdown-item">
            <mat-slide-toggle [(ngModel)]="configMode" (change)="onChangeConfigMode($event)">
              Konfigurationsmodus
            </mat-slide-toggle>
          </li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-item">
            <button type="button" class="btn btn-info ms-2" (click)="onOpenLogsModal()">
              Log Dateien einsehen
            </button>
          </li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-item">
            <button type="button" class="btn btn-danger ms-2" (click)="onUpdate()">
              Update
            </button>
          </li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-item">
            <button type="button" class="btn btn-danger ms-2" (click)="onShutdownServer()">
              Herunterfahren
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
